.App {
  text-align: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.list {
  padding: 10px;
  height: calc(100vh - 210px);
}

.cell {
}

.card {
  margin: 10px;
  border: 1px solid #ebeced;
  background: lightblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 80%;
}

.image img {
  object-fit: content;
  max-width: 100%;
}

.content {
  padding: 10px;
}

.grid {
  overflow-x: hidden !important;
}
